<a href="https://colab.research.google.com/github/ecemay/web_scraping/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:


import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
URL="https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"
response = requests.get(URL)
website_html = response.text

soup = BeautifulSoup(website_html, "html.parser")

table = soup.find_all(name="tr", class_ ="data-table__row")
rows = []
for row in table:
    # Extract the cells
    cells = row.find_all("span", class_="data-table__value")
    for cell in cells:
        rows.append(cell.text)
        print(cell.text)

1
Petroleum Engineering
Bachelors
$93,200
$187,300
67%
2
Operations Research & Industrial Engineering
Bachelors
$84,800
$170,400
28%
3
Electrical Engineering & Computer Science (EECS)
Bachelors
$108,500
$159,300
46%
4
Interaction Design
Bachelors
$68,300
$155,800
55%
5
Public Accounting
Bachelors
$59,800
$147,700
47%
6
Operations Research
Bachelors
$83,500
$147,400
54%
7
Applied Economics and Management
Bachelors
$66,100
$146,400
67%
8
Business Computing (BC)
Bachelors
$73,000
$143,600
-
9
Actuarial Mathematics
Bachelors
$64,300
$143,400
51%
10
Electrical Power Engineering
Bachelors
$76,100
$142,600
68%
11
Information & Computer Science
Bachelors
$58,600
$140,900
62%
12
Aeronautics & Astronautics
Bachelors
$77,600
$139,600
56%
13
Systems Engineering
Bachelors
$77,700
$139,200
53%
14
Econometrics
Bachelors
$64,200
$139,000
35%
15
Pharmacy
Bachelors
$68,600
$138,700
78%
16
Aerospace Studies
Bachelors
$55,800
$136,600
-
17
Building Science
Bachelors
$53,800
$135,900
53%
17
Chemical Engineering
Bachelors
$76,900
$135,900
55%
19
Cognitive Science
Bachelors
$68,700
$135,200
42%
20
Actuarial Science
Bachelors
$67,700
$134,400
43%
21
Political Economy
Bachelors
$65,100
$133,500
29%
22
Computer Systems Engineering
Bachelors
$79,000
$133,200
51%
23
Electrical & Computer Engineering (ECE)
Bachelors
$78,100
$131,600
49%
24
Computer Science (CS) & Engineering
Bachelors
$79,400
$131,300
44%
24
Marine Engineering
Bachelors
$79,900
$131,300
60%

In [6]:
# Split the text into a list of rows

# Create a list of dictionaries to store the data
#print(rows)
data=[]
# Loop through each row and store the values
for i in range(0, len(rows), 6):
    data.append({
        "Rank": rows[i],
        "Major": rows[i + 1],
        "Degree": rows[i + 2],
        "Starting Median Salary": rows[i + 3],
        "Mid-Career Median Salary": rows[i + 4],
        "Percent Change from Starting to Mid-Career Salary": rows[i + 5]
    })

# Convert the list of dictionaries to a dataframe
df = pd.DataFrame(data)

df.head()

,Rank,Major,Degree,Starting Median Salary,Mid-Career Median Salary,Percent Change from Starting to Mid-Career Salary
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%