<a href="https://colab.research.google.com/github/ecemay/web_scraping/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:


import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
URL="https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"
url_list =[URL]
rows = []
for i in range(1,10):
  next_url="https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors" + f"/page/{i}"
  url_list.append(next_url)
print(url_list)
for url in url_list:
  response = requests.get(url)
  website_html = response.text

  soup = BeautifulSoup(website_html, "html.parser")

  table = soup.find_all(name="tr", class_ ="data-table__row")
  
  for row in table:
      # Extract the cells
      cells = row.find_all("span", class_="data-table__value")
      for cell in cells:
          rows.append(cell.text)
          
 # Split the text into a list of rows

# Create a list of dictionaries to store the data
#print(rows)
data=[]
# Loop through each row and store the values
for i in range(0, len(rows), 6):
    data.append({
          "Rank": rows[i],
          "Major": rows[i + 1],
          "Degree": rows[i + 2],
          "Starting Median Salary": rows[i + 3],
          "Mid-Career Median Salary": rows[i + 4],
          "Percent Change from Starting to Mid-Career Salary": rows[i + 5]
    })

# Convert the list of dictionaries to a dataframe
df = pd.DataFrame(data)

df.head()

['https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/1', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/2', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/3', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/4', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/5', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/6', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/7', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/8', 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/9']

,Rank,Major,Degree,Starting Median Salary,Mid-Career Median Salary,Percent Change from Starting to Mid-Career Salary
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%

In [8]:
df.shape

(250, 6)